/* 

CSS HEX
--black: #010001ff;
--periwinkle: #CCD6FCff;
--alice-blue: #F2F7FFff;
--neon-blue: #3561FDff;
--seashell: #FEF7F1ff; 

SCSS RGB
$black: rgba(1, 0, 1, 1);
$periwinkle: rgba(204, 214, 252, 1);
$alice-blue: rgba(242, 247, 255, 1);
$neon-blue: rgba(53, 97, 253, 1);
$seashell: rgba(254, 247, 241, 1);
 
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;;
}


img {
    max-width: 100%;
    display: block;
    

}

button {
    font-weight: 900;
}



/* ===================================================== */

/*
========Typography========== */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #101b42;
    font-weight: 700;
}

.site-title{
    font-size: 1.8rem;
    font-weight: 700;
    color: #1b4bf8;
}

/* .faq-title {
    color: f;
} */

.sub-headings {
    font-weight: 700;
    font-size: 2.1rem;
}

.card-titles {
    font-size: 1.3rem;
}

a:not(.nav-li-links) {
    text-decoration: none;
    color: #101b42;
    font-weight: 700;
}

a:hover,
a:focus {
    color: #1b4bf8;
}


.copyright-section {
    font-size: .8rem;
}

.signup-title {
    color: #f8f8f8;
}

/*============ LAYOUTS========= */

.container {
    width: 95%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    /* border: 2px solid rebeccapurple; */
    
    
}


header {
    /* max-width: 100%; */
    background-color: #f8f8f8;
    padding: .2em;
    margin-bottom: 1em;
    border-bottom: 2px  solid #e7e2e2;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
    /* border: 2px solid yellow; */
    
    
    
}

footer {
    background-color: #f8f8f8;
    padding: 2em;
}

.header-container {
    /* width: 100%;
    border: 2px solid red; */
   
}



/* ==navigation== */

nav {
    margin: 0;
    padding: 0;
}

.nav-ul-container {
    list-style: none;
    padding: 0;
}

.nav-li-items {
  margin-bottom: 1.1em;
}

.nav-li-links {
    padding: .5em;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    

}



.current-page {
    border-bottom: 2px solid #1b4bf8;
    color: black;
}

.current-page:hover,
.current-page:focus {
    border-bottom: 2px solid #1b4bf8;
    color: black;
}


/* == Nav login and signup button container== */
.nav-buttons-container {
    margin: 0;
    /* min-width: 200px; */
    padding: 0;
    /* border: 3px solid green; */
    
}

.nav-buttons {
    display: none;
}


/* ============================================================= */


/* ==Hero Section Layout== */
.hero-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-bottom: 1em;  
    
    
}


.hero-text-container {
    /* order: -1;  */
    /* border: 2px solid yellow; */
    padding: 1em;   
   
}

.hero-image-container {
    order: -1;  
    /* border: 2px solid yellow; */
    padding: 1em;
    
    
}



.hero-image {
    object-fit: cover;
    width: 100%;
    /* min-width: 500px; */
    border-radius: 15px;
    background-color: rgba(160, 193, 247, 0.1);
    /* position: bottom; */
    max-height: 500px;
    /* border: 2px solid red; */
    
    
}

/* ==Hero Buttons== */

/* Hero button Container */
.hero-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
   

}



/* Sign up, Android and Iphone Buttons  */

.hero-btn {
    padding: 12px;
    border-radius: 10px; 
    width: 80%;
    background-color: #f8f8f8;
    border: 1px solid #c0bbbb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.hero-text-container .hero-signup-btn {
    width: 80%;
    position: relative;
    left: 35px;
}

/* Modfier class for Nav and Hero sign up buttons */
.signup-btn {
    background-color: #1b4bf8;
    color: #f8f8f8;
    
}

.signup-btn:hover,
.signup-btn:focus {
    background-color: #e7e2e2;
    color: #1b4bf8;
    cursor: pointer;
}


.btn-hover-blue:hover,
.btn-hover-blue:focus {
    background-color: #1b4bf8;
    color: white;
    cursor: pointer;
}





/* Andriod button modifier class */
.btn-1 {
    margin: 1em 0;
}

/* andriod and iphone button logo */
.button-logo {
   height: 20px;
   margin-right: 1.6em;
    
   
}
  

/* ================================================== */

/* ==Client Advert Section== */

.client-ads-banner {
    display: none;
}

/* ==Testimonial== */

.testimonial {
    text-align: center;
    font-weight: 700;
    font-size: 2.1rem;
    padding: 2em;
    
    
}

.testimonial span {
    color: #1b4bf8;
}



/* ==== CARD SECTION === */

.card-wrapper { 
    width: 95%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    /* border: 4px solid aquamarine; */
    background-color: #f8f8f8;

}

.service {
    padding-bottom: 1em;
}



.card-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-bottom: 1em;
    gap: 1em;


}

.cards {
    /* border: 1px solid maroon; */
    padding: .5em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(160, 193, 247, 0.3);
}

.card-bg-accent {
    background-color: rgba(248, 200, 191, 0.3);
}

.card-text-container {
    /* border: 3px solid saddlebrown; */
    /* order: -1; */
    
    
}

.card-img-container{
    /* border: 3px solid black; */
    order: -1;
}

.card-image {
    width: 100%;
    /* border: 2px solid teal; */
    object-fit: cover;
    max-height: 300px;
    
}



/* Card REAMore and arrow styles */
.read-more-flex-container{
    display: inline-flex;

}

.arrow-image {
    height: 20px;
    margin-left: 10px;
}


/* ============================================*/
/* PHONE APP SECTION STYLES */

.phoneapp-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.phoneapp-info-title {
    margin-right: 2em;
}

.phoneapp-info-body {
    border-left: 4px solid #1b4bf8;
    padding-left: 2em;
    padding-bottom: 4em;
    margin-left: .5em;
}

.phoneapp-button-container {
    width: 50%;
    margin: 2em auto;
}

/* ============================= */

/* FOOTER SECTION */
.footer-container {
    display: flex;
    text-align: left;
    padding-left: 1em;
    flex-direction: column;
}

.footer-links-container {
    /* display: flex; */
}

.footer-links {
    list-style: none;
    padding: 0;
    /* border: 2px solid #000000; */
    
}

.footer-links li {
    margin: 1em 0;
}


.copyright-section {
    text-align: center;
}

/* ==========================================
==============FAQ PAGE====================== */
.faq-container {
    display: flex;
    flex-direction: column;
}
/* ==frequently asked questions text container=== */
.faq-text-container {
    /* background-color: #1b4bf8; */
    padding: 1.5em 0;
    
   
}

/* ==frequently asked questions=== */
.faq-question {
    border-radius: 10px;
    border: 2px solid #f8f8f8;
    color: #f8f8f8;
    outline: none;
    background-color: #1b4bf8;
    width: 100%;
    padding: 2.3em 1em;
    
}

.faq-question .option {
    background-color: #f8f8f8;
    color: #101b42;
    width: 80% !important;
}

/* ==frequently asked questions image container=== */
.faq-image-container {
    order: -1;

}





/* ==Customer Testimonials== */
.customer-review {
    display: flex;
    flex-direction: column;
    background-color: rgba(191, 186, 186, 0.5);
    padding: 2em .5em;
    border-radius: 1em;
    margin-bottom: 1.5em;
}

.customer-review-pane1 {
    display: flex;
    flex-direction: column;

}

.customer-review-pane1-body {
    order: 1;
}

/* ===Pane2 of the customer review where the star is located==== */
.customer-review-pane2 {
   

}


.customer-review-star {
    height: 20px;
}

.star-container {
    display: inline-flex;
}




/* ==SIGNUP AREA SECTION== */
.signup-section {
    background-color: rgb(28, 76, 247);
    padding: 5em;
    color: #f8f8f8;
    margin-bottom: 1.5em;


    
}

form {
    display: inline-flex
}


input[type="email"] {
    margin: 0 auto;
    padding: 1em;
    padding-right: 0;
    border: 2px solid #f8f8f8;
    outline: none;
    border-radius: 26px;
    background-color: #1b4bf8;
    
}



.email-btn {
    padding: .7em 2.5em;
    background-color: #f8f8f8;
    margin-left: 0;
    border-radius: 25px;
    color: #1b4bf8;
    position: relative;
    left: -90px;
    top: 1px;
    border: 1px solid #f8f8f8;

    

}











/* Media Queries */

@media (min-width: 615px) {

    .container, header {
        min-width: 1000px;
       
        
    }
    
    /* header {
        min-width: 1000px;
    } */
   
    .header-container {
        display: flex;
        justify-content: space-between;
    }

    


    /* Typography */

    .hero-title {
        font-size: 3rem;
        line-height: 1.2em;
    }


    /* Layouts */
    .nav-ul-container {
        display: flex;
        justify-content: space-between;
        
    }

    nav {
        width: 40%;
        padding-top: 1em;
    }
    
    .site-title {
        width: 20%;
        
    }

    .nav-buttons-container {
        width: 20%;
        margin-top: 1em;
    }

    

    .nav-buttons {
        margin-right: 1em;
        background-color: #f8f8f8;
        border: 1px solid #1b4bf8;
        border-radius: 5px;
        padding: .75em;
        display: initial;
    }

    .signup-btn {
        background-color: #1b4bf8;
        color: #f8f8f8;
    }

    

    #hero-signup-btn {
        width: 30%;
        position: relative;
        left: 0;
    }
    
  /* ==Hero Section== */
  .hero-section {
    text-align: left;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}


.hero-text-container {
    width: 50%;
    min-width: 400px;
    padding-left: 3em;
    
}

.hero-image-container {
    width: 50%;
    min-width: 400px;
    
}

/*== hero buttons== */

.hero-button-container {
    flex-direction: row;
    width: 70%;
    margin-top: 3em;
  

}


.hero-btn,
.hero-signup-btn {
   max-width: 100%;
   min-width: 180px;
  
    
}

.btn-1 {
    margin-right: 1em;

}

/* ==Client Advert Section== */

.client-ads-container {
    margin-bottom: 2em;
}

.client-ads-banner {
    display: flex;
    background-color: #f8f8f8;
    padding: 1.5em;
    align-items: center;
    
  
    
}


.client-ads {
    flex-basis: 100%;
    margin-top: 1.12em;
}

.client-ads-image {
    width: 21%;
    opacity: 0.3;
    margin: 0 auto;
    
}

.ad-1 {
    opacity: 1;
}


/* ===CARD SECTION==== */
.card-wrapper {
    padding: 4em 0;
    margin-bottom: 5em;
}

.service {
    padding-bottom: 2em;
}

.card-container {
    flex-direction: row;
    justify-content: space-evenly;
}

.cards {
    width: 30%;
    height: 100%;
    

   
}

.cards:hover {
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    

   
}

.card-text-container {
    height: 40%;
    order: -1;
    padding-left: .5em;
   

}

card-img-container {
    height: 60%;
    order: -1;
    
    

}

/* ====================== */
/* PHONE APPP SECTION STYLES */
.phoneapp-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2.5em;
    
}

.phoneapp-image-container {
    width: 45%;
    padding-top: 3em;
    

}

.phoneapp-info-container {
    width: 45%;
    text-align: left;
    padding: 2em;
    
}

.phoneapp-image {
    
    object-fit: cover;
    max-height: 500px;
    margin: 2em auto 0 auto;
    padding-top: 4em;
}

/* ============================= */
/* FOOTERS SECTION */

.footer-links-container {
    display: flex;
    justify-content: space-evenly;

}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

.footer-links-main {
    flex: 1;
    padding-right: 1em;
}
  
.copyright-section {
    display: flex;
    justify-content: space-between;
}

/* ==========================================
==============FAQ PAGE====================== */
 .faq-container {
    margin-bottom: 4em;
    flex-direction: row-reverse;
    color: #f8f8f8;
    
    text-align: left;

    

}

.faq-title {
    color: #f8f8f8; 
}

.faq-text-container {
    width: 50%;
    background-color: #1b4bf8;
    padding-left: 2em;

}

.faq-question {
    width: 85%;
    margin: 1.1em 0;
    padding: 2.5em;
    
}

.faq-question .option {
    width: 80%  !important;
    padding: 2.5em;
    background-color: #f8f8f8;
}

.faq-image-container {
    width: 50%;
    padding: 0;

}



/* ==Customer Testimonials== */
.customer-review {
    flex-direction: row;
    padding: 4em 0;
    background-color: #f8f8f8;
    margin-bottom: 4em;
}


.customer-review-pane1,
.customer-review-pane2 {
    width: 50%;
    padding: 2em;
}

.customer-review-pane1 {
    display: flex;
    flex-direction: column;
}

.customer-review-pane1-body {
    order: 1;
}


 
.customer-review-1 {
    width: 100%;
    text-align: left;
    background-color: #e7e2e2;
    padding: 4em;
    border-radius: 50px;
} 

/* ==SIGNUP AREA SECTION== */

.signup-section {
    background-color: #1b4bf8;
    padding: 8em;
    border-radius: 30px;
    color: #f8f8f8;
    margin-bottom: 3em;
    
}




form {
    width: 100%;
}


 #customer-email {
    width: 60%;
    padding: 1.4em;
    padding-right: 0;
    border: 2px solid #f8f8f8;
    outline: none;
    border-radius: 26px;
    background-color: #1b4bf8;
    
    
    
}


.email-btn {
    padding: 1.1em 2.4em;
    background-color: #f8f8f8;
    margin-left: 0;
    border-radius: 25px;
    color: #1b4bf8;
    position: relative;
    left: -253px;
    top: 3px;
    border: 1px solid #f8f8f8;
   

} 


}

/* Media querie for the Nav Login and Sign up buttons */
/* @media (max-width: 855px) {
    .nav-buttons-container {
        padding: .5em;
    }    
} */